{{/* Available notice types: warning, info, note, tip */}}
{{- $noticeType := .Get 0 | default "note" -}}

{{- $customTitle := cond (ge (len .Params) 2) (.Get 1) ($noticeType | title) -}}

{{/* Workaround markdownify inconsistency for single/multiple paragraphs */}}
{{- $raw := (markdownify .Inner | chomp) -}}
{{- $block := findRE "(?is)^<(?:address|article|aside|blockquote|canvas|dd|div|dl|dt|fieldset|figcaption|figure|footer|form|h(?:1|2|3|4|5|6)|header|hgroup|hr|li|main|nav|noscript|ol|output|p|pre|section|table|tfoot|ul|video)\\b" $raw 1 -}}

{{/* Load the css if it's the first time */}}
{{- if not ($.Page.Scratch.Get "notice-style-loaded-flag") -}}
{{- $.Page.Scratch.Set "notice-style-loaded-flag" true -}}
{{- end -}}


<div class="notice {{ $noticeType }}">
    <p class="notice-title">
        <span class="icon-notice baseline">
            {{ printf "static/%s.svg" $noticeType | readFile | safeHTML }}
        </span>
        {{ $customTitle }}
    </p>
    {{- if or $block (not $raw) }}{{ $raw }}{{ else }}<p>{{ $raw }}</p>{{ end -}}
</div>
